@font-face {
  font-family: "Eastwood";
  src: url("../media/Eastwood.otf");
}

.game-page {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

.menu-page {
  width: 400px;
  height: 600px;
  background-color: rgb(200, 225, 237);
  border-radius: 16px;
  box-shadow: 0px 5px 10px 3px rgba(0,0,0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.connect-page {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 24px;
  flex-direction: column;
}

.top-panel {
  display: flex;
  justify-content: center;
  top: 0;
}

.turn-indicator {
  height: 50px;
  width: 240px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  background-color: rgb(200, 225, 237);
  box-shadow: 0px 5px 10px 3px rgba(0,0,0, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
}

.turn-indicator p {
  font-family: 'Eastwood';
  font-size: large;
  color:rgb(24, 92, 123);
}

.opponents {
  display: flex;
  justify-content: space-evenly;
  padding: 25px;
}

.opponent {
  display: flex;
  flex-direction: column;
  width: 438px;
  height: 265.5px;
  background-color:rgb(200, 225, 237);
  border-radius: 8px;
  box-shadow:0px 5px 10px 3px rgba(0,0,0, 0.25);
  background-image: url("../media/AzulBoard.png");
  background-size: 100%;
  border: 5px solid #277BA4;
}

.opponent-info {
  font-family: "Eastwood";
  position: absolute;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
  height: 40px;
}

.opponent-boards {
  display: flex;
  padding: 3px;
  gap: 15px;
}

.opponent-stackerBoard {
  display: flex;
  flex-direction: column;
  gap: 4.5px;
}

.opponents-stacker-row {
  display: flex;
  flex-direction: row-reverse;
  gap: 3px;
  height: 37.5px;
  width: 203px;
}

.opponent-mainBoard {
  margin-left: 10px;  
  display: flex;
  flex-direction: column;
  gap: 4.5px;
}

.opponent-mainRow {
  display: flex;
  gap: 4px;
}

.opponent-penalty {
  padding-top: 15px;
  display: flex;  
  padding-left: 5px;
  gap: 4px;
}

.currentPlayer {
  margin-top: 175px;
  margin-left: 25px;
  display: flex;
  flex-direction: column;
  width: 584px;
  height: 354px;
  border-radius: 12px;
  box-shadow:0px 5px 10px 3px rgba(0,0,0, 0.25);
  background-image: url("../media/AzulBoard.png");
  background-size: 100%;
  border: 5px solid #277BA4;
}

.currentPlayer-info {
  position: absolute;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  height: 40px;
}

.currentPlayer-boards {
  margin-top: 5px;
  display: flex;
  padding-left: 10px;
  gap: 34px;
}

.currentPlayer-stackerBoard {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: 270px;
}

.currentPlayer-stacker-row {
  display: flex;
  flex-direction: row-reverse;
  gap: 5px;
  height: 50px;
}

.currentPlayer-mainBoard {
  margin-right: 5px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.currentPlayer-mainRow {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.currentPlayer-penalty {
  display: flex;
  margin-top: 23px;
  gap: 6px;
  padding-left: 6px;
}

.main-game {
  font-family:"Eastwood";
  display: flex;
  gap: 25px;
  justify-content: space-evenly;  
}

.traders-board {
  margin-top: 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 525px;
  height: 525px;
}

.trader {
  display: flex;
  background-color: rgb(200, 225, 237);
  box-shadow: 0px 5px 10px 3px rgba(0,0,0, 0.25);
  justify-content: center;
  align-items: center;
  width: 165px;
  height: 165px;
  border-radius: 50%;
}

.inside-of-trader {
  display: flex;
  flex-wrap: wrap;
  width: 105px;
  height: 105px;
  gap: 5px;
}

.remaining-board {
  margin-top: 75px;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: flex-start;
  height: min-content;
  width: 350px;
  gap: 5px;
}

.tile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.tile p {
  font-family: "Eastwood";
  font-size: x-large;
}

.logo {
  background-image: url("../media/AzulLogo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100%;
  height: 100px;
}
